<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author:Collonn, Email:collonn@126.com, QQ:195358385 -->


<mapper namespace="com.jelly.eoss.db.mapper.basic.iface.AdminRolePermissionMapper">
    <!-- 生成Insert -->
    <insert id="insert" parameterType="com.jelly.eoss.db.entity.AdminRolePermission">
    insert into admin_role_permission (
    <trim suffixOverrides=",">
                            <if test="permissionId != null">
                                permission_id,
                            </if>

                            <if test="roleId != null">
                                role_id,
                            </if>

    </trim>
    ) values (
    <trim suffixOverrides=",">
                            <if test="permissionId != null">
                                #{permissionId},
                            </if>
                            <if test="roleId != null">
                                #{roleId},
                            </if>
    </trim>
    )
</insert>

    <!-- 生成Update -->
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误更新 -->

    <!-- 生成UpdateWithNull -->
    <!-- 注意调用该SQL前必须先根据主键查询出该记录所有列数据，再设置某列为null -->

    <!-- 根据表的主键生成Delete -->
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误删除 -->
    <delete id="deleteByPojo" parameterType="com.jelly.eoss.db.entity.AdminRolePermission">
        <!-- 请注意，该表没有主键 -->
        delete
        from admin_role_permission
        where
        <trim suffixOverrides="and">
                <if test="permissionId != null">
                    permission_id = #{permissionId} and
                </if>
                <if test="roleId != null">
                    role_id = #{roleId} and
                </if>
        </trim>
    </delete>

    <!-- 生成Select通用表头 -->
    <sql id="selectColumns">
        <trim suffixOverrides=",">
                permission_id as "permissionId",
                role_id as "roleId",
        </trim>
    </sql>

    <!-- 生成Select通用查询条件 -->
    <sql id="selectWheres">
                <if test="permissionId != null">
                    and permission_id = #{permissionId}
                </if>
                <if test="roleId != null">
                    and role_id = #{roleId}
                </if>
    </sql>

    <sql id="selectOrderBy">
        <if test="sortConditionSet != null and sortConditionSet.size() > 0">
            order by
            <trim suffixOverrides=",">
                <foreach collection="sortConditionSet" item="item">
                ${item.colName} ${item.sort},
                </foreach>
            </trim>
        </if>
    </sql>

    <!-- 生成Select -->
    <select id="select" parameterType="com.jelly.eoss.db.entity.AdminRolePermission" resultType="com.jelly.eoss.db.entity.AdminRolePermission">
        select
        <include refid="selectColumns"/>
        from admin_role_permission
        where 1 = 1
        <include refid="selectWheres"/>
        <include refid="selectOrderBy"/>
    </select>

    <!-- 生成Select -->
    <select id="selectPage" parameterType="com.jelly.eoss.db.entity.AdminRolePermission" resultType="com.jelly.eoss.db.entity.AdminRolePermission">
        select
        <include refid="selectColumns"/>
        from admin_role_permission
        where 1 = 1
        <include refid="selectWheres"/>
        <include refid="selectOrderBy"/>
        limit #{offset},#{length}
    </select>

    <!-- 生成SelectCount -->
    <select id="selectCount" parameterType="com.jelly.eoss.db.entity.AdminRolePermission" resultType="Integer">
        select count(*) ct
        from admin_role_permission
        <where>
            <include refid="selectWheres"/>
        </where>
    </select>

    <!-- 根据表的主键生成SelectByPk，该表只有单列主键 -->

    <select id="selectOne" parameterType="com.jelly.eoss.db.entity.AdminRolePermission" resultType="com.jelly.eoss.db.entity.AdminRolePermission">
        select
        <include refid="selectColumns"/>
        from admin_role_permission
        where 1 = 1
        <include refid="selectWheres"/>
        limit 1
    </select>

    <select id="selectAll" resultType="com.jelly.eoss.db.entity.AdminRolePermission">
        select
        <include refid="selectColumns"/>
        from admin_role_permission
    </select>
</mapper>