<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author:Collonn, Email:collonn@126.com, QQ:195358385 -->


<mapper namespace="com.jelly.eoss.db.mapper.basic.iface.AdminUserRoleMapper">
    <!-- 生成Insert -->
			<!-- 该表有联合主键，不能用useGeneratedKeys和keyProperty返回主键 -->
        	<insert id="insert" parameterType="com.jelly.eoss.db.entity.AdminUserRole">
    insert into admin_user_role (
    <trim suffixOverrides=",">
                            <if test="userId != null">
                                user_id,
                            </if>

                            <if test="roleId != null">
                                role_id,
                            </if>

    </trim>
    ) values (
    <trim suffixOverrides=",">
                            <if test="userId != null">
                                #{userId},
                            </if>
                            <if test="roleId != null">
                                #{roleId},
                            </if>
    </trim>
    )
</insert>

    <!-- 生成Update -->
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误更新 -->
	<update id="update" parameterType="com.jelly.eoss.db.entity.AdminUserRole">
        update admin_user_role set
        <trim suffixOverrides=",">
                    <if test="userId != null">
                        user_id = #{userId},
                    </if>
                    <if test="roleId != null">
                        role_id = #{roleId},
                    </if>
        </trim>
        where
                <if test="userId != null">
                    user_id = #{userId}
                </if>
            and
                <if test="roleId != null">
                    role_id = #{roleId}
                </if>
            
    </update>

    <!-- 生成UpdateWithNull -->
    <!-- 注意调用该SQL前必须先根据主键查询出该记录所有列数据，再设置某列为null -->
    <update id="updateWithNull" parameterType="com.jelly.eoss.db.entity.AdminUserRole">
        update admin_user_role set
        <trim suffixOverrides=",">
            user_id = #{userId},
            role_id = #{roleId},
        </trim>
        where
            user_id = #{userId}
            and
            role_id = #{roleId}
            
    </update>

    <!-- 根据表的主键生成Delete -->
		<delete id="deleteByPk" parameterType="com.jelly.eoss.db.entity.AdminUserRole">
			<!-- 请注意，该表是联合主键 -->
            delete
            from admin_user_role
            where
                user_id = #{userId}
                and
                role_id = #{roleId}
                
        </delete>
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误删除 -->
    <delete id="deleteByPojo" parameterType="com.jelly.eoss.db.entity.AdminUserRole">
        <!-- 请注意，该表没有主键 -->
        delete
        from admin_user_role
        where
        <trim suffixOverrides="and">
                <if test="userId != null">
                    user_id = #{userId} and
                </if>
                <if test="roleId != null">
                    role_id = #{roleId} and
                </if>
        </trim>
    </delete>

    <!-- 生成Select通用表头 -->
    <sql id="selectColumns">
        <trim suffixOverrides=",">
                user_id as "userId",
                role_id as "roleId",
        </trim>
    </sql>

    <!-- 生成Select通用查询条件 -->
    <sql id="selectWheres">
                <if test="userId != null">
                    and user_id = #{userId}
                </if>
                <if test="roleId != null">
                    and role_id = #{roleId}
                </if>
    </sql>

    <sql id="selectOrderBy">
        <if test="sortConditionSet != null and sortConditionSet.size() > 0">
            order by
            <trim suffixOverrides=",">
                <foreach collection="sortConditionSet" item="item">
                ${item.colName} ${item.sort},
                </foreach>
            </trim>
        </if>
    </sql>

    <!-- 生成Select -->
    <select id="select" parameterType="com.jelly.eoss.db.entity.AdminUserRole" resultType="com.jelly.eoss.db.entity.AdminUserRole">
        select
        <include refid="selectColumns"/>
        from admin_user_role
        where 1 = 1
        <include refid="selectWheres"/>
        <include refid="selectOrderBy"/>
    </select>

    <!-- 生成Select -->
    <select id="selectPage" parameterType="com.jelly.eoss.db.entity.AdminUserRole" resultType="com.jelly.eoss.db.entity.AdminUserRole">
        select
        <include refid="selectColumns"/>
        from admin_user_role
        where 1 = 1
        <include refid="selectWheres"/>
        <include refid="selectOrderBy"/>
        limit #{offset},#{length}
    </select>

    <!-- 生成SelectCount -->
    <select id="selectCount" parameterType="com.jelly.eoss.db.entity.AdminUserRole" resultType="Integer">
        select count(*) ct
        from admin_user_role
        <where>
            <include refid="selectWheres"/>
        </where>
    </select>

    <!-- 根据表的主键生成SelectByPk，该表只有单列主键 -->

    <select id="selectOne" parameterType="com.jelly.eoss.db.entity.AdminUserRole" resultType="com.jelly.eoss.db.entity.AdminUserRole">
        select
        <include refid="selectColumns"/>
        from admin_user_role
        where 1 = 1
        <include refid="selectWheres"/>
        limit 1
    </select>

    <select id="selectAll" resultType="com.jelly.eoss.db.entity.AdminUserRole">
        select
        <include refid="selectColumns"/>
        from admin_user_role
    </select>
</mapper>