<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="/include/head.htm::commonHeader"></th:block>
        <script src="/static/js/layout/north.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}"
                type="text/javascript"></script>
        <style type="text/css">
            #EOSS {
                position: absolute;
                top: 1px;
                left: 1px;
                font-size: 30px;
                font-weight: bold;
            }
        </style>
    </head>
    
    <body>
        <div id="EOSS">
            [[${application.PROJECT_NAME}]] [[${application.PROJECT_VERSION}]]
        </div>
        
        <table class="tableRight noborder">
            <tr>
                <td id="menuLevelOneTd">
                    <a id="loginOutBtn" href="###" class="easyui-linkbutton">注销系统</a>
                </td>
            </tr>
        </table>
    </body>
</html>
