<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="/include/head.htm::commonHeader"></th:block>
  	<script src="/static/js/layout/west.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}" type="text/javascript"></script>
  	<style type="text/css">
  		#zTreeJson, #zTreeUL{
  			display:none;
  		}
  	</style>
  </head>
  
  <body>
  	<table class="tableCenter noborder">
  		<tr>
  			<td id="loadingTd"><img src="/static/base/jquery/zTree/css/img/loading.gif"/><br/>用户权限加载中</td>
  		</tr>
  	</table>
  	<ul id="zTreeUL" class="ztree"></ul>
  </body>
</html>
