<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="_EXT">
	<!-- 非工具生成的单表的SQL都以下划线开头 -->
	
	<sql id="Role_QueryRolePage_Body">
		from role r
		where 1 = 1
		<if test="id != null and id != ''">and r.id = #{id}</if>
		<if test="name != null and name != ''">and instr(r.name, #{name}) > 0</if>
		<if test="createTimeStart != null and createTimeStart != ''">
			and r.create_datetime &gt;= CONCAT('${createTimeStart}', ' 00:00:00')
		</if>
		<if test="createTimeEnd != null and createTimeEnd != ''">
			and r.create_datetime &lt;= CONCAT('${createTimeEnd}', ' 23:59:59')
		</if>
	</sql>
	<select id="Role_QueryRolePage_Count" parameterType="HashMap" resultType="Integer">
		select count(*)
		<include refid="Role_QueryRolePage_Body"/>
	</select>
	<select id="Role_QueryRolePage" parameterType="HashMap" resultType="LinkedHashMap">
		select
		id as "id",
		name as "name",
		create_datetime as "createDatetime"
		<include refid="Role_QueryRolePage_Body"/>
	</select>

	<select id="Role_QueryAllPermissionWithRole" parameterType="HashMap" resultType="LinkedHashMap">
		SELECT p.id AS 'id', p.NAME AS 'name', rp.ROLE_ID AS 'roleId'
		FROM permission p
		LEFT JOIN role_permission rp ON p.ID = rp.PERMISSION_ID AND rp.ROLE_ID = #{id}
	</select>

	<select id="Role_QueryByUserId" parameterType="Integer" resultType="String">
		SELECT DISTINCT b.name
		FROM user_role a INNER JOIN role b ON a.role_id = b.id
		WHERE 1 = 1
		AND a.user_id = #{userId}
	</select>
</mapper>