<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/include/head.htm::commonHeader"></th:block>
	<script src="/static/js/system/groupAdd.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}" type="text/javascript"></script>
</head>

<body>
	<form id="submitForm" action="/system/group/add" class="eossForm" method="post">
		<table class="eossFromTable">
			<tr class="panel-header">
				<td colspan="99">用户组添加</td>
			</tr>
			<tr>
				<td align="right" width="100">组名称：</td>
				<td>
					<input type="text" id="name" name="name"/>
				</td>
			</tr>
			<tr>
				<td align="right">选择资源：</td>
				<td>
					<input type="hidden" id="resourcesIds" name="resourcesIds"/>
					<ul id="zTreeULResource" class="ztree"></ul>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a id="submitBtn" href="###" class="easyui-linkbutton">提交</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
