<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/include/head.htm::commonHeader"></th:block>
	<script src="/static/js/system/menuList.js?time=<%=System.currentTimeMillis()%>" type="text/javascript"></script>
</head>

<body>
	<form id="submitForm" action="/static/page/queryForPage" class="eossForm">
		<input type="hidden" name="dataBaseType" value="mysql"/>
		<input type="hidden" name="forwardUrl" value="/system/menu/toList"/>
		<input type="hidden" name="leaf" value="0"/>
		<table class="eossFromTable">
			<tr class="panel-header">
				<td>菜单查询</td>
			</tr>
			<tr>
				<td align="left">
					菜单ID：<input type="text" id="menuId" name="id" value="${id}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					菜单名称：<input type="text" id="menuName" name="name" value="${name}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					开始时间：<input type="text" class="easyui-datebox" name="createTimeStart" value="${createTimeStart}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					结束时间：<input type="text" class="easyui-datebox" name="createTimeEnd" value="${createTimeEnd}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<a id="submitBtn" href="###" class="easyui-linkbutton">查询</a>
				</td>
			</tr>
		</table>
	</form>
	
	<table id="dataGrid"></table>
</body>
</html>
