<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/head.htm::commonHeader"></head>
  		<script src="/static/js/system/permissionAdd.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}" type="text/javascript"></script>
	</head>

	<body>
		<form id="submitForm" action="/system/permission/add" class="eossForm" method="post">
			<table class="eossFromTable">
				<tr class="panel-header">
					<td colspan="99">权限添加</td>
				</tr>
				<tr>
					<td align="right" width="100">权限名称：</td>
					<td>
						<input type="text" id="permissionName" name="name" value=""/>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<a id="submitBtn" href="###" class="easyui-linkbutton">提交</a>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
