<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/include/head.htm::commonHeader"></th:block>
	<script src="/static/js/system/userAdd.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}" type="text/javascript"></script>
</head>

<body>
	<form id="submitForm" action="/system/user/add" class="eossForm" method="post">
		<table class="eossFromTable">
			<tr class="panel-header">
				<td colspan="99">用户添加</td>
			</tr>
			<tr>
				<td align="right" width="100">用户名称：</td>
				<td>
					<input type="text" id="userName" name="username"/>
				</td>
			</tr>
			<tr>
				<td align="right" width="100">用户密码：</td>
				<td>
					<input type="text" id="userPwd" name="password" value="111111"/>
				</td>
			</tr>
            <tr>
                <td align="right">选择角色：</td>
                <td>
                    <input type="hidden" id="roleIds"/>
                    <th:block th:if="${roleList != null && roleList.size() gt 0}">
                        <th:block th:each="it,st : ${roleList}">
                            <input type="checkbox" name="roleInput" class="role" th:value="${it.id}" th:text="${it.name}" style="width: auto;"/><br/>
                        </th:block>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td align="right">选择用户组：</td>
                <td>
                    <input type="hidden" id="groupIds"/>
                    <th:block th:if="${groupList != null && groupList.size() gt 0}">
                        <th:block th:each="it,st : ${groupList}">
                            <input type="checkbox" name="roleInput" class="group" th:value="${it.id}" th:text="${it.name}" style="width: auto;"/><br/>
                        </th:block>
                    </th:block>
                </td>
            </tr>
			<tr>
				<td align="right">选择资源：</td>
				<td>
					<input type="hidden" id="resourcesIds" name="resourcesIds"/>
					<ul id="zTreeULResource" class="ztree"></ul>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a id="submitBtn" href="###" class="easyui-linkbutton">提交</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
