<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/head.htm::commonHeader"></head>
	<script src="/static/js/system/userList.js" th:attrappend="src='?time='+${T(java.lang.System).currentTimeMillis()}" type="text/javascript"></script>
</head>

<body>
	<form id="submitForm" action="/system/user/toList" class="eossForm" method="post">
		<input type="hidden" id="page" name="page" th:value="${pager.page}"/>
		<table class="eossFromTable">
			<tr class="panel-header">
				<td colspan="99">用户查询</td>
			</tr>
			<tr>
				<td align="left">
					用户ID：<input type="text" name="id" th:value="${id}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					用户名称：<input type="text" name="name" t:value="${name}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					开始时间：<input type="text" class="easyui-datebox" name="createTimeStart" th:value="${createTimeStart}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					结束时间：<input type="text" class="easyui-datebox" name="createTimeEnd" th:value="${createTimeEnd}"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<a id="submitBtn" href="###" class="easyui-linkbutton">查询</a>
				</td>
			</tr>
		</table>
	</form>
	
	<!-- display data list -->
	<table th:if="${pager != null && pager.data != null && pager.data.size() gt 0}" class="eossDataTable tableXCenter">
		<thead>
			<tr class="datagrid-header">
				<th>ID</th>
				<th>用户名称</th>
				<th>用户密码</th>
				<th>密码盐值</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    <tr th:each="it,st : ${pager.data}" th:class="${st.odd}? 'odd' : 'even'">
				<td th:text="${pager.rowStart + st.index}"></td>
				<td th:text="${it.username}"></td>
				<td th:text="${it.password}"</td>
				<td th:text="${it.salt}"></td>
				<td th:text="${it.createDatetime}"></td>
				<td>
					<a href="###" type="delete" th:value="${it.id}">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="###" type="update" th:value="${it.id}">更新</a>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- pagination -->
	<table th:replace="/include/pagerFooter.htm::content('submitForm', 'page', ${pager == null ? 1 : pager.totalPage})"></table>
 
</body>
</html>
