<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author:Collonn, Email:collonn@126.com, QQ:195358385 -->


<mapper namespace="AdminFilterchainDefinition">
	<!-- 生成Insert -->
        	<insert id="Insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition">
			insert into admin_filterchain_definition (
				<trim suffixOverrides=",">
                            <if test="id != null">
							id,
                            </if>

                            <if test="definition != null and definition != ''">
							definition,
                            </if>

				</trim>
			) values (
				<trim suffixOverrides=",">
                            <if test="id != null">
                                #{id},
                            </if>
                            <if test="definition != null and definition != ''">
                                #{definition},
                            </if>
				</trim>
			)
		</insert>

	<!-- 生成Update -->
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误更新 -->
	<update id="Update" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition">
		update admin_filterchain_definition set 
		<trim suffixOverrides=",">
                    <if test="id != null">
                    	id = #{id},
                    </if>
                    <if test="definition != null and definition != ''">
                    	definition = #{definition},
                    </if>
		</trim>
        where
                <if test="id != null and id != ''">
				id = #{id}
                </if>
            
	</update>

    <!-- 生成UpdateWithNull -->
    <!-- 注意调用该SQL前必须先根据主键查询出该记录所有列数据，再设置某列为null -->
    <update id="UpdateWithNull" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition">
        update admin_filterchain_definition set
        <trim suffixOverrides=",">
			id = #{id},
			definition = #{definition},
        </trim>
        where
		id = #{id}
			
    </update>
	
	<!-- 根据表的主键生成Delete -->
		<delete id="DeleteByPk" parameterType="java.io.Serializable">
			
			delete 
			from admin_filterchain_definition 
			where 
				id = #{id}
				
		</delete>
	<!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误删除 -->
	<delete id="DeleteByPojo" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition">
		<!-- 请注意，该表没有主键 -->
		delete
		from admin_filterchain_definition
		where
        <trim suffixOverrides="and">
                <if test="id != null">
					id = #{id} and
                </if>
                <if test="definition != null and definition != ''">
					definition = #{definition} and
                </if>
		</trim>
	</delete>

	<!-- 生成Select通用表头 -->
	<sql id="SelectColumns">
		<trim suffixOverrides=",">
				id as "id",
				definition as "definition",
		</trim>
	</sql>
	
	<!-- 生成Select通用查询条件 -->
	<sql id="SelectWheres">
                <if test="id != null">
                    and id = #{id}
                </if>
                <choose>
                    <when test="likeSqlColumnSet != null and 'definition' in likeSqlColumnSet">
                        and definition like '%${definition}%'
                    </when>
                    <otherwise>
                        <if test="definition != null and definition != ''">
                            and definition = #{definition}
                        </if>
                    </otherwise>
                </choose>
	</sql>

    <sql id="SelectOrderBy">
        <if test="sortConditionSet != null and sortConditionSet.size() > 0">
            order by
            <trim suffixOverrides=",">
                <foreach collection="sortConditionSet" item="item">
                    ${item.colName} ${item.sort},
                </foreach>
            </trim>
        </if>
    </sql>
	
	<!-- 生成Select -->
	<select id="Select" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition" resultType="com.jelly.eoss.model.AdminFilterchainDefinition">
		select
		<include refid="SelectColumns"/>
		from admin_filterchain_definition
		where 1 = 1
		<include refid="SelectWheres"/>
        <include refid="SelectOrderBy"/>
	</select>

    <!-- 生成Select -->
    <select id="selectPage" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition" resultType="com.jelly.eoss.model.AdminFilterchainDefinition">
        select
        <include refid="SelectColumns"/>
        from admin_filterchain_definition
        where 1 = 1
        <include refid="SelectWheres"/>
        <include refid="SelectOrderBy"/>
        limit #{offset},#{length}
    </select>

    <!-- 生成SelectCount -->
    <select id="SelectCount" parameterType="com.jelly.eoss.model.AdminFilterchainDefinition" resultType="Long">
        select count(*) ct
        from admin_filterchain_definition
        <where>
            <include refid="SelectWheres"/>
        </where>
    </select>

    <!-- 根据表的主键生成SelectByPk，该表只有单列主键 -->
	<select id="SelectByPk" parameterType="java.io.Serializable" resultType="com.jelly.eoss.model.AdminFilterchainDefinition">
		select
		<include refid="SelectColumns"/>
		from admin_filterchain_definition
		where
				id = #{id}
			
	</select>
</mapper>