<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author:Collonn, Email:collonn@126.com, QQ:195358385 -->


<mapper namespace="com.jelly.eoss.model.Menu">
	<!-- 生成Insert -->
        	<insert id="Insert" useGeneratedKeys="true" keyProperty="ID" parameterType="com.jelly.eoss.model.Menu">
			insert into MENU (
				<trim suffixOverrides=",">
                            <if test="id != null">
							ID,
                            </if>

                            <if test="pid != null">
							PID,
                            </if>

                            <if test="name != null and name != ''">
							NAME,
                            </if>

                            <if test="leaf != null">
							LEAF,
                            </if>

                            <if test="path != null and path != ''">
							PATH,
                            </if>

                            <if test="lev != null">
							LEV,
                            </if>

                            <if test="url != null and url != ''">
							URL,
                            </if>

                            <if test="target != null and target != ''">
							TARGET,
                            </if>

                            <if test="createDatetime != null and createDatetime != ''">
							CREATE_DATETIME,
                            </if>

				</trim>
			) values (
				<trim suffixOverrides=",">
                            <if test="id != null">
                                #{id},
                            </if>
                            <if test="pid != null">
                                #{pid},
                            </if>
                            <if test="name != null and name != ''">
                                #{name},
                            </if>
                            <if test="leaf != null">
                                #{leaf},
                            </if>
                            <if test="path != null and path != ''">
                                #{path},
                            </if>
                            <if test="lev != null">
                                #{lev},
                            </if>
                            <if test="url != null and url != ''">
                                #{url},
                            </if>
                            <if test="target != null and target != ''">
                                #{target},
                            </if>
                            <if test="createDatetime != null and createDatetime != ''">
                                #{createDatetime},
                            </if>
				</trim>
			)
		</insert>

	<!-- 生成Update -->
    <!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误更新 -->
	<update id="Update" parameterType="com.jelly.eoss.model.Menu">
		update MENU set 
		<trim suffixOverrides=",">
                    <if test="id != null">
                    	ID = #{id},
                    </if>
                    <if test="pid != null">
                    	PID = #{pid},
                    </if>
                    <if test="name != null and name != ''">
                    	NAME = #{name},
                    </if>
                    <if test="leaf != null">
                    	LEAF = #{leaf},
                    </if>
                    <if test="path != null and path != ''">
                    	PATH = #{path},
                    </if>
                    <if test="lev != null">
                    	LEV = #{lev},
                    </if>
                    <if test="url != null and url != ''">
                    	URL = #{url},
                    </if>
                    <if test="target != null and target != ''">
                    	TARGET = #{target},
                    </if>
                    <if test="createDatetime != null and createDatetime != ''">
                    	CREATE_DATETIME = #{createDatetime},
                    </if>
		</trim>
        where
                <if test="id != null and id != ''">
				ID = #{id}
                </if>
            
	</update>

    <!-- 生成UpdateWithNull -->
    <!-- 注意调用该SQL前必须先根据主键查询出该记录所有列数据，再设置某列为null -->
    <update id="UpdateWithNull" parameterType="com.jelly.eoss.model.Menu">
        update MENU set
        <trim suffixOverrides=",">
			ID = #{id},
			PID = #{pid},
			NAME = #{name},
			LEAF = #{leaf},
			PATH = #{path},
			LEV = #{lev},
			URL = #{url},
			TARGET = #{target},
			CREATE_DATETIME = #{createDatetime},
        </trim>
        where
		ID = #{id}
			
    </update>
	
	<!-- 根据表的主键生成Delete -->
		<delete id="DeleteByPk" parameterType="java.io.Serializable">
			
			delete 
			from MENU 
			where 
				ID = #{id}
				
		</delete>
	<!-- 注意调用该SQL前必须检查参数的正确性，否则可能会误删除 -->
	<delete id="DeleteByPojo" parameterType="com.jelly.eoss.model.Menu">
		<!-- 请注意，该表没有主键 -->
		delete
		from MENU
		where
        <trim suffixOverrides="and">
                <if test="id != null">
					ID = #{id} and
                </if>
                <if test="pid != null">
					PID = #{pid} and
                </if>
                <if test="name != null and name != ''">
					NAME = #{name} and
                </if>
                <if test="leaf != null">
					LEAF = #{leaf} and
                </if>
                <if test="path != null and path != ''">
					PATH = #{path} and
                </if>
                <if test="lev != null">
					LEV = #{lev} and
                </if>
                <if test="url != null and url != ''">
					URL = #{url} and
                </if>
                <if test="target != null and target != ''">
					TARGET = #{target} and
                </if>
                <if test="createDatetime != null and createDatetime != ''">
					CREATE_DATETIME = #{createDatetime} and
                </if>
		</trim>
	</delete>

	<!-- 生成Select通用表头 -->
	<sql id="SelectColumns">
		<trim suffixOverrides=",">
				ID as "id",
				PID as "pid",
				NAME as "name",
				LEAF as "leaf",
				PATH as "path",
				LEV as "lev",
				URL as "url",
				TARGET as "target",
				CREATE_DATETIME as "createDatetime",
		</trim>
	</sql>
	
	<!-- 生成Select通用查询条件 -->
	<sql id="SelectWheres">
                <if test="id != null">
                    and ID = #{id}
                </if>
                <if test="pid != null">
                    and PID = #{pid}
                </if>
                <if test="name != null and name != ''">
                    and NAME = #{name}
                </if>
                <if test="leaf != null">
                    and LEAF = #{leaf}
                </if>
                <if test="path != null and path != ''">
                    and PATH = #{path}
                </if>
                <if test="lev != null">
                    and LEV = #{lev}
                </if>
                <if test="url != null and url != ''">
                    and URL = #{url}
                </if>
                <if test="target != null and target != ''">
                    and TARGET = #{target}
                </if>
                <if test="createDatetime != null and createDatetime != ''">
                    and CREATE_DATETIME = #{createDatetime}
                </if>
	</sql>
	
	<!-- 生成Select -->
	<select id="Select" parameterType="com.jelly.eoss.model.Menu" resultType="com.jelly.eoss.model.Menu">
		select
		<include refid="SelectColumns"/>
		from MENU
		where 1 = 1
		<include refid="SelectWheres"/>
	</select>

    <!-- 生成SelectCount -->
    <select id="SelectCount" parameterType="com.jelly.eoss.model.Menu" resultType="Long">
        select count(*) ct
        from MENU
        <where>
            <include refid="SelectWheres"/>
        </where>
    </select>

    <!-- 根据表的主键生成SelectByPk，该表只有单列主键 -->
	<select id="SelectByPk" parameterType="java.io.Serializable" resultType="com.jelly.eoss.model.Menu">
		select
		<include refid="SelectColumns"/>
		from MENU
		where
				ID = #{id}
			
	</select>
</mapper>